<br>
<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-1">
      <div class="row">
        <h3 class="text-left"><a href="/contact.html">Contact</a></h3>
      </div>
      <div class="row">
        <div class="col-md-11">
          <a href="https://plus.google.com/u/0/communities/114922572702107472034">Google+ Community</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="row">
        <h3 class="text-left">Other Resources</h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="row">
        <h3 class="text-left">Help</h3>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
</div>