<br>
<div class="row">
  <div class="small-12 medium-3 medium-offset-1 column">
    <div class="row">
      <h3 class="left"><a href="/contact.html">Contact</a></h3>
    </div>
    <div class="row">
      <div class="medium-11 column">
        <a href="https://plus.google.com/u/0/communities/114922572702107472034">Google+ Community</a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 column">
    <div class="row">
      <h3 class="text-left">Other Resources</h3>
    </div>
  </div>
  <div class="small-12 medium-3 column">
    <div class="row">
      <h3 class="text-left">Help</h3>
    </div>
  </div>
</div>
<div class="row"><br></div>
