<!DOCTYPE html>
<html>
<head>
  <title>Ido | an artificial auxiliary language to bring the world together</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/landing.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/js/marked.js"></script>
  <script src="/js/landing.js"></script>
</head>
<body>
  <nav class="navbar-default navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <!-- 20px by 20px is what the example used -->
          <img src="http://placehold.it/20x20&text=ido">
        </a>
        <button class="navbar-toggle collapsed">
        </button>
        <a class="navbar-brand" href="/">Ido</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Lessons</a></li>
          <li><a href="#">Dictionary</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1>Ido</h1>
        <p>The language of the future</p>
      </div>
      <div class="col-md-6">
        <img src="http://placehold.it/500x200&text=ido" class="-right">
      </div>
    </div>
    </div>
  </div>
</body>
</html>