<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} | Ido - an artificial auxiliary language to bring the world together</title>
  {% include default_head.html %}
  {% for code in page.more_includes %}
    {{ code }}
  {% endfor %}
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Ido</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/about.html">About</a></li>
        <li><a href="#">Lessons</a></li>
        <li><a href="/dictionary.html">Dictionary</a></li>
        <li><a href="/resources.html">Resources</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </section>
  </nav>
  {{ content }}
  {% include footer.html %}
</body>
</html>